# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# R
.Rhistory
.RData
.Ruserdata
.Rproj.user/
*.Rproj
rsconnect/
packrat/lib/
packrat/src/
renv/library/
renv/staging/
*.Rcheck/
.Rcheck/
